body{
	margin: 0;
	background-color: white;
}

/* The part below is the navigation bar for all pages*/

.logo{
	margin-top: .15%;
	float: left;
	height: 100%;
	width: 10%;
}

nav ul{
	list-style: none;
	margin: 0;
	position: fixed;
	overflow: hidden;
	top: 0;
	background-color: grey;
	width: 100%;
	height: 7%;
}

nav ul li{
	margin-right: 20px;
	float: right;
}

nav ul li a{
	margin-right: 30px;
	display: block;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #f6f6e2;
	padding: 12px 20px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

nav ul li a:hover{
	padding: 15px 50px;
	border-bottom-width: 1px;
	border-bottom-color: #f6f6e2;
}

.active{
	font-weight: 900;
	border-bottom-width: 2px;
	border-bottom-color: #f6f6e2;
}

footer{
	height: auto;
	display: flex;
	background-color: grey;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #f6f6e2
}

footer div{
	width: 50%;
	align-content: center;
}

footer div a{
	color: #f6f6e2;
}

footer div a:hover{
	opacity: 0.6;
}

/* Home page*/
.home{
	background-image: url('media/EmadSquare2.jpg');
	background-size: 50% 100%;
	background-repeat: no-repeat;
	background-position: right;
	backface-visibility: hidden;
	height: 900px;
	width: 100%;
	display: flex;
	align-items: center;
}

.intro{
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 17%;
	top: 50%;
	transform: translate(-17%, -50%);
	align-content: center;
}

.intro h1{
	right: 30px;
	align-self: center;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 40px;
	text-shadow: 2px 2px;
}

.intro h2{
	align-self: center;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 30px;
}

.intro a{
	align-self: center;
}

.intro a:hover{
	opacity: 0.6;
}

.intro button{
	align-self: center;
	width: 150px;
	height: 50px;
	color: white;
	background-color: grey;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 20px;
	border-radius: 20px;
}

.intro button1{
	align-self: center;
	width: 150px;
	height: 50px;
	color: white;
	background-color: grey;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 20px;
	border-radius: 20px;
}

.about{
	height: 700px;
	width: 70%;
	display: flex;
	left: 5%;
	transform: translate(-5%);
	border-radius: 20px;
	background-color: grey;
	margin: -2% auto 50px auto;
	position: relative;
}

.introPic{
	background-image: url('media/EmadWinter.PNG');
	background-size: 100% 100%;
	height: 80%;
	width: 30%;
	border-width: 7px;
	border-style: solid;
	border-color: #f6f6e2;
	display: flex;
	align-self: center;
	margin-left: 5%;
	border-radius: 20px;
}

.aboutsummary{
	height: 80%;
	width: 50%;
	background-color: #f6f6e2;
	display: flex;
	align-self: center;
	margin-left: 8%;
	border-radius: 20px;
	flex-direction: column;
}

.aboutsummary h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 30px;
	text-decoration: underline;
	margin-left: 5%;
}
.aboutsummary p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	margin-left: 5%;
}

.aboutsummary a{
	align-self: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: grey;
	width: 80%;
	padding-bottom: 10px;
	}

.aboutsummary a:hover{
	opacity: 0.6;
}

/* Contact page*/
.contact{
	width: 80%;
	height: 800px;
	margin: 100px auto;
	display: flex;
	align-self: center;
	border-width: 2px;
	border-style: solid;
	border-color: grey;
}

.contact h1{
	align-self: center;
}

.contactleft{
	height: 80%;
	width: 35%;
	margin-left: 2%;
	margin-top: 5%;
	background-color: grey;
	border-width: 2px;
	border-style: solid;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
	display: flex;
	flex-direction: column;
}
.contactleft h1{
	align-self: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #f6f6e2;
	text-decoration: underline;
}
.contactleftlinks{
	margin-left: 5%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 25px;
	color: #f6f6e2;
	display: flex;
	flex-direction: column;
}

.contactleftlinks a{
	color: #f6f6e2;
}

.contactleftlinks a:hover{
	opacity: 0.6;
}

.smed{
	align-self: center;
	display: flex;
	transform: translate(-5%, 100px);
}

	#idLinkedInIcon {
		background-color:rgb(0, 102, 170);
		border-radius:6px;color:white;
		cursor:pointer;
		display:inline-block;
		font:bold 35px Arial, Helvetica, sans-serif;
		height:40px;
		margin-top:1px;
		text-align:center;
		width:40px;}

	#idLinkedInIcon:hover{
		background-color:#06d;
	}

  .contactright{
  	height: 80%;
	width: 58%;
	margin-left: 2%;
	margin-top: 5%;
	border-width: 2px;
	border-style: solid;
	border-color: grey;
	display: flex;
	flex-direction: column;
  }

  .contactright h1{
  	align-self: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: black;
	text-decoration: underline;
  }

  .form{
  	margin-top: -5%;
  }

  .input{
  	width: 40%;
  	height: 18%;
  	margin-top: 5%;
  	margin-left: 30%;
  	border-width: 2px;
  	border-color: grey;
  	border-style: solid;
  	border-radius: 20px;
  }

  .textarea{
  	height: 65%
  }

  .msgbutton{
  	height: 15%;
  	width: 20%;
  	color: #f6f6e2;
  	margin-top: 5%;
  	background-color: grey;
  	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	border-radius: 20px;
  }


/* programs/lifestyle page*/
.title{
	margin-top: 10%;
	margin-left: 25%;
	height: 30%;
	width: 50%;
	background-color: grey;
	color: #f6f6e2;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 40px;
	border-radius: 20px;
}

.titlePic{
	display: flex;
	margin-left: 37.5%;
	margin-top: 5%;
	height: 475px;
	width: 25%;
	border-width: 3px;
	border-style: solid;
	border-color: grey;
}

.lifestyle{
	height: 100%;
	width: 100%;
}

.textbox{
	display: flex;
	flex-direction: column;
	width: 80%;
	height: auto;
	margin-top: 5%;
	margin-left: 10%;
	border-width: 2px;
	border-style: solid;
	border-color: grey;
}

.textbox h1{
	align-self: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 25px;
	text-decoration: underline;
}

.textbox h2{
	align-self: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 20px;
	text-decoration: underline;
}

.textbox ul{
	align-self: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.textbox p{
	align-self: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	width: 80%;
	text-align: center;
}

.textbox a{
	align-self: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: grey;
	width: 80%;
	padding-bottom: 10px;
}

.textbox a:hover{
	opacity: 0.6;
}

.EmadMedia{
	display: flex;
	margin-left: 25%;
	margin-top: 5%;
	height: 500px;
	width: 57%;
	border-width: 3px;
	border-style: solid;
	border-color: grey;
}
